body {
    background-color: #fff;
}

.zoom-area {
    fill: transparent;
    cursor: pointer;
}

#chart_placeholder {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.y-tick {
    stroke: black;
    fill: none;
    stroke-width: 1px;
}

.line-separator, .x-axis {
    stroke: #d1d1d1;
    fill: none;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.line-separator:last-child {
    display: none;
}

.x-axis {
    position: absolute;
    z-index: 50;
}

.label {
    font-weight: 400;
}

.x-axis text {
    stroke: none;
    fill: black;
    font-family: 'Open Sans';
    font-size: 12;
}

.axes {
    fill: #fafafa;
}

text.drop {
    shape-rendering: crispEdges;
    font-size: 18px;
    font-family: 'FontAwesome';
    opacity: .7;
    stroke: none;
    cursor: pointer;
}

text.drop:hover {
    shape-rendering: crispEdges;
    font-size: 22px;
    stroke-width: 1px;
    stroke: #fff;

}

.grid {
    fill: #fafafa;
    stroke:#d1d1d1;
}

.graph-body .line {
    height: 20px;
    padding: 10px;
}

path {
    stroke: white;
    stroke-width: 1px;
    opacity: 0.7;
}

.centered {
    margin: 0 auto;
}

.tooltip-inner {
    white-space:pre;
    max-width:none;
}