body {
    background-color: #fff;
}

.zoom-area {
    fill: transparent;
    cursor: pointer;
}

#chart_placeholder {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.y-tick {
    stroke: black;
    fill: none;
    stroke-width: 1px;
}

.line-separator, .x-axis {
    stroke: #d1d1d1;
    fill: none;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.line-separator:last-child {
    display: none;
}

.x-axis {
    position: absolute;
    z-index: 50;
}

.label {
    font-weight: 400;
}

.x-axis text {
    stroke: none;
    fill: black;
    font-family: 'Open Sans';
    font-size: 12px;
}
.extremum text {
    font-size: 14px;
}
.axes {
    fill: #fafafa;
}

text.drop {
    text-rendering: auto;
    font-size: 10px;
    font-family: 'FontAwesome';
     /*opacity: .7;*/
    stroke: none;
    cursor: pointer;
}

text.drop:hover {
    font-size: 21px;
    stroke-width: 2px;
    stroke: #fff;
    font-weight: bold;
    paint-order: stroke;
}

.grid {
    stroke:#d1d1d1;
    cursor:ew-resize;
}

.graph-body .line {
    height: 20px;
    padding: 10px;
}

.tooltip-inner {
    white-space:pre;
    max-width:none;
}

.timestamp text {
    fill: #fff;
}
.timestamp rect {
    fill: #000;
    opacity: .7;
}
